---
import MainLayout from "../components/MainLayout.astro";
import Silk from "../components/react-bits/Silk";
---

<MainLayout title="Dolphinder - Developer Directory">
  <div class="relative flex min-h-screen items-center justify-center pt-16">
    <!-- Silk Background -->
    <div class="absolute inset-0 -z-10">
      <Silk
        speed={5}
        scale={1}
        color="#4DA2FF"
        noiseIntensity={1.5}
        rotation={0}
        client:load
      />
    </div>
    <div class="container mx-auto px-4 py-4">
      <h1 class="text-center text-4xl font-bold">
        Welcome to Dolphinder Nation
      </h1>
      <p class="text-center text-white/60">
        The on-chain developers showcase & connect.   
      </p>
    </div>
  </div>
</MainLayout>
